name: Tests
on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:
permissions:
  contents: read

jobs:
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: './go.mod'
          check-latest: true
      - run: go version
      - run: go mod download # Not required, used to segregate module download vs test times
      - run: make test
